#accounts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#accounts-container>.account {
    max-width: 400px;
    flex: 1 0 40%;
    margin: 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 10px;
}

.account>button {
    margin-bottom: 2em;
    padding: 12px 70px;
    font-size: 1em;
    background-color: #82008f;
}

.account>button.followed {
    background-color: white;
    border: 1px solid #82008f;
    color: #82008f;
}

.account>h2 {
    margin: 1em 1em;
}

.account>img {
    margin-top: 2em;
    height: 120px;
    width: 120px;
    object-fit: cover;
    object-position: 50% 10%;
    border-radius: 50%;
}
